{{#if error}}
<div class="alert alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  {{error}}
</div>
{{/if}}
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">DANH SÁCH NXB</div>
  <div class="panel-body">
    <a data-toggle="modal" href="#add"class="btn btn-success" role="button">
      <span class="fa fa-plus"></span>
      Thêm mới
    </a>
    <br><br>
    <table class="table table-hover" id ="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Tên NXB</th>
          <th class="td-actions"></th>
        </tr>
      </thead>
      <tbody>
        {{#each nxb}}
        <tr>
          <td id="id">{{Id}}</td>
          <td>{{TenNXB}}</td>
          <td class="text-right">
            <a  data-toggle="modal" href="#edit" class="btn btn-small btn-primary edit" role="button">
              <i class="fa fa-pencil"></i>
            </a>

            <a data-toggle="modal" href="#delete" class="btn btn-small btn-danger delete" role="button">
              <i class="fa fa-trash"></i>
            </a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <div class="modal" id="add">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="panel panel-success">
            <div class="panel-heading">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 class="panel-title">Thêm mới NXB</h3>
            </div>
            <div class="panel-body">
              <form action="list" role="form" method="POST">
                <div class="form-group">
                  <label for="">Tên NXB</label>
                  <input type="text" class="form-control" id="" name= "ten" placeholder="Vui lòng nhập tên nhà xuất bản!" required>
                </div>
                <div class="modal-footer">
                  <button data-dismiss="modal" class="btn btn-danger">Hủy</button>
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal" id="delete">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="panel panel-danger">
            <div class="panel-heading">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 class="panel-title">Xóa NXB</h3>
            </div>
            <div class="panel-body">
              <form action="delete" role="form" method="POST">
                <div class="form-group">
                  <h3>Bạn muốn xóa NXB:</h3>
                  <label for="">ID:</label>
                  <input type="text" id="result" name="Id" readonly="readonly" style="border:none">
                  <label for="">Tên:</label>
                  <input type="text" id="result1" name= "ten" readonly="readonly" style="border:none">
                </div>
                <div class="modal-footer">
                  <button data-dismiss="modal" class="btn btn-primary">Hủy</button>
                  <button type="submit" class="btn btn-danger">Xóa</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal" id="edit">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 class="panel-title">Chỉnh sửa NXB</h3>
            </div>
            <div class="panel-body">
              <form action="edit" role="form" method="POST">
                <div class="form-group">
                  <label for="">ID</label>
                  <input type="text" class="form-control" id="kq" name= "Id" value="{{Id}}" readonly><br>
                  <label for="">Tên NXB</label>
                  <input type="text" class="form-control" id="kq1" name= "ten" value="{{TenNXB}}" required >
                </div>
                <div class="modal-footer">
                  <button data-dismiss="modal" class="btn btn-danger">Hủy</button>
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{#section 'scripts'}}

<script> $(document).ready(function () {
        //bootstrap WYSIHTML5 - text editor
        $('#table').DataTable();
    });
</script>
<script src ="/css/jquery.dataTables.min.js"></script>
<script src="/NXB.js"></script>
<script type="text/javascript">
$('div.alert').delay(3000).slideUp();
</script>
{{/section}}