<div class="container" style="background: #ffff">
  <h1 class="page-header">Cập nhật thông tin cá nhân</h1>
  <div class="row">
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      <h3>Thông tin cá nhân</h3>
      <form class="form-horizontal" role="form" method="POST">
        <div class="form-group">
          <input class="form-control" value="{{profile.Id}}" type="hidden" name="Id">
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Họ và tên</label>
          <div class="col-lg-8">
            <input class="form-control" value="{{profile.TenThuThu}}" type="text" name="ten" required>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Email</label>
          <div class="col-lg-8">
            <input class="form-control" value="{{profile.Email}}" type="email" name="email" id="1"required>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">SDT</label>
          <div class="col-lg-8">
            <input class="form-control" value="{{profile.SDT}}" type="number" name="sdt" required>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Ngày sinh</label>
          <div class="col-lg-8">
            <input class="form-control" value="{{profile.NgaySinh}}" type="date" name="ngaysinh" required>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Giới tính</label>
          <div class="col-lg-8">
            <select class="form-control" name="gioitinh" id= "myselect">
              <option value="1">Nam</option>
              <option value="0">Nữ</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input class="btn btn-primary" value="Save Changes" type="submit">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{{#section 'scripts'}}
<script>
$('select').val({{profile.GioiTinh}})
</script>
{{/section}}