{{#if error}}
<div class="alert alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  {{error}}
</div>
{{/if}}
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">DANH SÁCH THỦ THƯ</div>
  <div class="panel-body">
    <a data-toggle="modal" href="#add"class="btn btn-success" role="button">
      <span class="fa fa-plus"></span>
      Thêm thủ thư mới
    </a>
    <br><br>
    <table class="table table-hover" id ="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Tên thủ thư</th>
          <th>Email</th>
          <th>SDT</th>
          <th>Ngày sinh</th>
          <th>Giới tính</th>
          <th class="td-actions"></th>
        </tr>
      </thead>
      <tbody>
        {{#each thuthu}}
        <tr>
          <td id="id">{{Id}}</td>
          <td>{{TenThuThu}}</td>
          <td>{{Email}}</td>
          <td>{{SDT}}</td>
          <td>{{NgaySinh}}</td>
          <td>
            {{#ifCond GioiTinh '==' 0}} Nữ {{else}} Nam {{/ifCond}}
          </td>
          <td class="text-right">
            <a data-toggle="modal" href="#delete" class="btn btn-small btn-danger delete" role="button">
              <i class="fa fa-trash"></i>
            </a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <div class="modal" id="add">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="panel panel-success">
            <div class="panel-heading">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 class="panel-title">Lập thủ thư mới</h3>
            </div>
            <div class="panel-body">
              <form action="list" role="form" method="POST">
                <div class="form-group">
                  <label for="">Tên thủ thư</label>
                  <input type="text" class="form-control" id="" name= "ten" placeholder="Vui lòng nhập tên độc giả!" required>
                </div>
                <div class="form-group">
                  <label for="">Email</label>
                  <input type="email" class="form-control" id="" name= "email" required>
                </div>
                <div class="form-group">
                  <label for="">SDT</label>
                  <input type="number" class="form-control" id="" name= "sdt" required>
                </div>
                <div class="form-group">
                  <label for="">Ngày sinh</label>
                  <input type="date" class="form-control" id="" name= "ngaysinh" required>
                </div>
                <div class="form-group">
                  <label for="">Giới tính</label>
                  <select class="form-control" name="gioitinh">
                    <option value="1">Nam</option>
                    <option value="0">Nữ</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="">username</label>
                  <input type="text-right" class="form-control" id="" name= "username" required>
                </div>
                <div class="form-group">
                  <label for="">pass</label>
                  <input type="text" class="form-control" id="" name= "pass" required>
                </div>
                <div class="modal-footer">
                  <button data-dismiss="modal" class="btn btn-danger">Hủy</button>
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal" id="delete">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="panel panel-danger">
            <div class="panel-heading">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 class="panel-title">Xóa thủ thư</h3>
            </div>
            <div class="panel-body">
              <form action="delete" role="form" method="POST">
                <div class="form-group">
                  <h3>Bạn muốn xóa thủ thư:</h3>
                  <label for="">ID:</label>
                  <input type="text" id="result" name="Id" readonly="readonly" style="border:none">
                  <label for="">Tên:</label>
                  <input type="text" id="result1" name= "ten" readonly="readonly" style="border:none">
                </div>
                <div class="modal-footer">
                  <button data-dismiss="modal" class="btn btn-primary">Hủy</button>
                  <button type="submit" class="btn btn-danger">Xóa</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
      </div>
</div>
</div>
</div>
{{#section 'scripts'}}
<script src="/TK.js"></script>
<script> $(document).ready(function () {
        //bootstrap WYSIHTML5 - text editor
        $('#table').DataTable();
      });
</script>
<script src ="/css/jquery.dataTables.min.js"></script>
<script type="text/javascript">
$('div.alert').delay(3000).slideUp();
</script>
{{/section}}