<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">DANH SÁCH SÁCH</div>
  <div class="panel-body">
    <table class="table table-hover" id ="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Tên sách</th>
          <th>Thể loại</th>
          <th>Tác giả</th>
          <th>Số lượng</th>
          <th class="td-actions"></th>
        </tr>
      </thead>
      <tbody>
        {{#each sach}}
        <tr>
          <td id="id">{{Id}}</td>
          <td>{{TenSach}}</td>
          <td>{{TacGia}}</td>
          <td>{{NgayNhap}}</td>
          <td >{{NamXB}}</td>
          <td>{{SoLuong}}</td>
          <td>{{TenTheLoai}}</td>
          <td>{{TenNXB}}</td>
          <td class="text-right">
            <a  data-toggle="modal" href="#edit" class="btn btn-small btn-primary edit" role="button">
              <i class="fa fa-pencil"></i>
            </a>

            <a data-toggle="modal" href="#delete" class="btn btn-small btn-danger delete" role="button">
              <i class="fa fa-trash"></i>
            </a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
{{#section 'scripts'}}
<script src="/Sach.js"></script>
<script> $(document).ready(function () {
  $('#table').DataTable();
});
</script>
<script src ="/css/jquery.dataTables.min.js"></script>
{{/section}}